*.pyc
fdrm/
../fdrm
del/
../del/
*/del
zip/
../zip/
*/zip
diliit/
*.tar.xz
*.tar
*/*.tar.xz
*/*.tar
*/*.zip
*/.zip
*/fontdrum/
*/del/
*/del
_site/
daunlod/fontdrum/
./**/diliit/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
*.zip
*.swp
.*.*.swp
.*.swp

